 .body {
  padding: 0;
  margin: 0;
 }

.project-container {
  margin: 1%;
  border: 10px solid black;
  background-color: #1b1931;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
}

/* Project photo styling */
.project-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.project-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Project info styling */
.project-info {
  font-size: 14px;
  line-height: 1.4;
  color: white;
}

/* Buttons styling */
.home-button, 
.edit-project-button,
.add-developer-button,
.remove-developers-button {
  margin: 5px;
  margin-left: 3%;
  width: 30%;
  padding: 10px;
  cursor: pointer;
  background-color: #1b1931;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.home-button:hover,
.add-developer-button:hover,
.remove-developers-button:hover,
.edit-project-button:hover {
  background-color: #002939;
}

/* Tab content styling */
.tab-content {
  width: 100%;
  height: 90%;
  max-height: 85%;
  overflow-y: auto;
}

.project-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.button-container {
  align-self: center ;
  width: 78%;
  float: left;
}

.container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}